<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qingyuan.tianya.merchant"
    android:versionCode="1"
    android:versionName="1.0.1">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyAppTheme">
        <service android:name="com.amap.api.location.APSService"></service>
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="8865e6a4cf3521b54e7736ff8f7b4de0">
            //开发者申请的key</meta-data>
        <activity android:name=".activity.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.MerchantActivity" />
        <activity android:name=".activity.CropImageActivity" />
        <activity android:name=".activity.ChangeNameActivity" />
        <activity android:name=".activity.ChangeAddressActivity" />
        <activity android:name=".activity.PhoneActivity" />
        <activity android:name=".activity.PassWordActivity" />
        <activity android:name=".activity.ChangeSortActivity" />
        <activity android:name=".activity.GoodsActivity" />
        <activity android:name=".activity.GoodsInfoActivity" />
        <activity android:name=".activity.GoodsNameActivity" />
        <activity android:name=".activity.GoodsPriceActivity" />
        <activity android:name=".activity.GoodsHpriceActivity" />
        <activity android:name=".activity.GoodsRemarkActivity" />
        <activity android:name=".activity.GoodsPicActivity" />
        <activity android:name=".activity.AddGoodsActivity" />
        <activity android:name=".activity.OrderActivity" />
        <activity android:name=".activity.OrderInfoActivity" />
        <activity android:name=".activity.SerctActivity"/>
        <activity android:name=".activity.MipcaActivityCapture"/>
    </application>

</manifest>
